
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <p><h1>Welcom to virtual deanary</h1></p>
    </div>

    <div class="container">
        <p>Testing web-application</p>

    </div>
