@model VirtualDeanary.Models.AddFacultyViewModel
@{
    ViewData["Title"] = "AddFaculty";
}


<div class="container">
    <h3>Add Faculty</h3>
    <form asp-action="AddFaculty" asp-controller="deanary" method="post">
        <div class="form-group col-md-6">
            <label asp-for="FacultyName" class="control-label">Faculty</label>
            <input asp-for="FacultyName" class="form-control" type="text" required />
        </div>

        <div class="form-group col-md-6">
            <input value="Add" type="submit" class="btn btn-success" />
        </div>
    </form>
</div>

